*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*login start*/

#login_form{
	background: #CE5937;
background: -moz-linear-gradient(45deg, #CE5937 0%, #1C6EA4 37%, #C59237 100%);
background: -webkit-linear-gradient(45deg, #CE5937 0%, #1C6EA4 37%, #C59237 100%);
background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 37%, #C59237 100%);
}

#login_form .card{
	border-radius: 10px;

}

#login_form input{
	border: none;
}

#login_form p{
	text-align: right;
	margin-top: -10px;
	color: #000;
	text-decoration: none;
}

#login_form .btn{
	border-radius: 30px;
}

#login_form .socialicon{
	width: 136px;
	margin: auto;	
}



#login_form .fab {
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	float: left;
	

}






/*login end*/